div	{
		text-align: left;
		font-family: Calibri;
}

div.title{
		background-color: lightgray;
		text-align: center;
		padding: 10px;
}

h1{
	font-family: Georgia;
	color: blue;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1.6em;
	word-spacing: 2em;
}

h2{
	font-family: Georgia;
	color: darkred;
	font-size: 18px;
	letter-spacing: 1.4em
}

table{
	text-align: left;
}

th{
	padding-right: 100px;
}	